/* pc */
@media screen and (min-width: 1550px) {}

/* end pc */


/* ipad pro */
@media screen and (min-width:968px) and (max-width: 1110px) {

    #header li a {
        font-size: 14px;
        padding-left: 11px;
    }

    .search {
        display: unset;
    }

    .search img {
        float: right;
    }

    #header .logo img {
        float: left;
    }

    .col-left,
    .col-right {
        display: none;
    }

    .col-center {
        margin-left: 23px;
        max-width: 97%;
        flex-basis: 94%;
    }

    .contact-row {
        margin-right: 0px;
    }

    iframe {
        width: 472px;
    }

}

/* end ipad pro */



/* ipad */
@media screen and (min-width:768px) and (max-width:967px) {
    #header .menu-open {
        height: 200vh;
        width: 99%;
        position: fixed;
        z-index: 9999;
        padding-top: 651px;
        display: none;
    }

    #header .nav-vertical a {
        font-size: 24px;
    }

    #header {
        width: 100%;
        height: 65px;
        position: fixed;
    }

    #header .menu {
        display: none;
    }

    #header .search {
        display: none;
    }

    #header .col-3 {
        width: 100%;
        text-align: center;
    }

    #header .col-3 img {
        display: inline-block;
        max-width: 100%;
        float: left;
        margin-right: 95px;

    }

    #header .icon-menu {
        display: block;
        text-align: right;
        z-index: 9999;
    }

    #header .icon-menu a {
        color: #000;
        font-size: 20px;
        padding: 10px;
    }

    .menu-open {
        position: absolute;
        top: 0;

    }

    .nav-vertical li {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .nav-vertical li a {
        color: white;
    }

    .main {
        padding-top: 65px;
    }

    .contact-row {
        margin-right: 0px;
    }

    .col-left,
    .col-right {
        display: none;
    }

    .col-center {
        max-width: 100%;
        flex-basis: 100%;
    }


    .col-mapp {

        margin-top: 28px;
    }

    .col-form input {
        width: 100%
    }

    .col-form textarea {
        width: 100%
    }

    .button {
        width: 100%
    }




    iframe {
        width: 673px;
    }

    /* footer */
    .footer {
        height: 651px;
    }


}

/* mobile */
@media screen and (max-width:767px) {
    #header .menu-open {
        height: 200vh;
        width: 99%;
        position: fixed;
        z-index: 9999;
        padding-top: 651px;
        display: none;
    }

    #header .nav-vertical a {
        font-size: 24px;
    }

    #header {
        width: 100%;
        height: 65px;
        position: fixed;
    }

    #header .menu {
        display: none;
    }

    #header .search {
        display: none;
    }

    #header .col-3 {
        width: 100%;
        text-align: center;
    }

    #header .col-3 img {
        display: inline-block;
        max-width: 100%;
        float: left;
        margin-right: 95px;

    }

    #header .icon-menu {
        display: block;
        text-align: right;
        z-index: 9999;
    }

    #header .icon-menu a {
        color: #000;
        font-size: 20px;
        padding: 10px;
    }

    .main {
        padding-top: 65px;
    }

    .banner-2 h3 {
        top: 50%;
        left: 2%;
        transform: translate(9%, -50%);
        font-size: 25px;
    }

    .menu-open {
        position: absolute;
        top: 0;

    }

    .nav-vertical li {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .nav-vertical li a {
        color: white;
    }

    .col-left,
    .col-right {
        display: none;
    }

    .col-center {
        margin-left: 23px;
        max-width: 94%;
        flex-basis: 98%;
    }


    .button {
        margin-top: 36px;
    }

    iframe {
        width: 343px;
    }


    .contact-row {
        margin-right: 0px;
    }

    .button {
        width: 100%;
    }

    .col-form input {
        width: 100%;
    }

    .col-form textarea {
        width: 100%;
    }

    .footer {
        height: 650px;
    }

    .footer-row {}

    .footer-wor {}

}

/* end mobile */


/* menu bar */
#header .nav-vertical {
    display: none;
}

#header .menu-open {
    background: rgb(0 0 0 / 85%);
}

#header .icon-menu {
    z-index: 9999;
}

#header .menu-open .nav-vertical {
    display: block;
    text-align: center;
    width: 100%;
}

#header .nav-vertical li {
    margin-bottom: 10px;
}

#header .nav-vertical a {
    display: block;
    padding: 5px;
    color: white;
    padding-bottom: 23px;
}

#header .nav-vertical.menu-open {
    display: block;
    /* Các kiểu CSS khác để điều chỉnh hiển thị menu dọc */
}

.icon-menu {
    color: #000;
    font-size: 20px;
}

.menu-mobi-close i {
    padding: 5px 13px;
    font-style: normal;
    background: #fff;
    color: red;
    font-size: 26px;
    text-align: center;
    line-height: 1.5;
    z-index: 999;
}

.menu-mobi-close {
    z-index: 9999;
}

#menuOpen {
    display: none;
    position: fixed;

    height: 100%;
    width: 100%;
    background-color: #030303e0;
    z-index: 9999;
    overflow-x: hidden;
    padding: 10px;
    animation: slideIn 0.5s forwards;
}

.slide-in {
    animation: slideIn 0.5s forwards;
}

.slide-out {
    animation: slideOut 0.5s forwards;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}