body {
  background: #F5F5F5;
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  position: relative;
}

img {
  max-width: 100%;
}

#header {
  align-items: center;
  background: linear-gradient(90deg, #49d363 0%, #49d363 0.01%, #2ed7ae 100%);
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 9999;
}

#header img {}

#header .menu {
  display: flex;
  justify-content: center;
}

#header ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

#header li {
  direction: none;
  display: contents;
  list-style-type: none;
  margin: 0px 5px;
  padding-top: 20px;
}

#header li a {
  color: #141414;
  text-decoration: none;
  font-family: roboto;
  font-size: 16px;
  padding-left: 24px;
  padding-right: 0px;
}

#header .icon-menu a {
  font-size: 30px;
}

#header span {
  padding-right: 250px;
  margin-top: 20px;
}

.icon-menu {
  display: none;
}

.main {
  padding-top: 80px;
}

.nav-item:hover {
  background: rgba(185, 19, 19, 0.363);
  color: white;

}

.nav-item a:hover .fa-search {
  font-size: 20px;
}


.search img {
  float: right;
}

.menu-open {
  display: none;
}

.logo {
  width: 18%;
}

.banner-2 {
  background-image: url("../images/factory.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 319px;
  position: relative;
}

.banner-2 h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 28px;
  font-weight: 700;
}

.products {}

#filter {
  padding-top: 40px
}

.prod-row {
  margin-right: 0px;
}

.filter {
  width: 39%;
  float: right;
}

.filter p {
  float: left;
  padding-top: 7px;

}

.form-control {
  width: 71%;
  float: right;
}

.product-row {
  padding-top: 26px;
}

.submenu {
  display: none;
}

.items-sp {}

.product-inform {}

.product-sidebar {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  height: fit-content;
  background: white;
  margin: 0px;
}

.product-sidebar ul {
  margin-top: 14px;
}

.product-sidebar ul li {
  list-style-type: none;
  border-bottom: 2px solid #F0F0F0;
  padding-bottom: 16px;
  margin-bottom: 10px;
  margin-left: -40px;
}

.product-sidebar ul li a {
  color: black;
  text-decoration: none;
}

.dropdown-icon {
  display: inline-block;
  float: right;
  font-size: 10px;
  line-height: 1;
  transition: transform 0.3s;
}

.dropdown-icon.rotate {
  transform: rotate(180deg);
}

.submenu {
  display: none;
  list-style: none;

}

.category-item[data-toggle="submenu"].open .dropdown-icon {
  transform: rotate(180deg);
}

.category-item[data-toggle="submenu"].open .submenu {
  display: block;
}


.category-item ul li a {
  color: #777777;

}

.category-item ul li:last-child {

  border-bottom: none;
  padding-bottom: 0px;

}

.product-sidebar ul .category-item:last-child {
  border-bottom: none;
}

.infor_product {
  height: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 0px;
}

.infor_product li {
  list-style-type: none;
  box-shadow: 10px black;
}

.infor_product li img {
  width: 205px;
  height: 137px;
  padding-top: 10px;
  margin-bottom: 12px;
}

.list-inline {
  list-style: none;
  margin-right: -17px;

}

.list-inline li {
  display: inline-block;
  vertical-align: top;
  width: 229px;
  margin-right: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 24px;
  border-radius: 8px;
  background: white;
}

.list-inline li h5 {
  font-weight: bold;
  font-family: Roboto;
}

.list-inline li p {
  color: rgb(118, 118, 118);
}

.list-inline a {
  display: inline-block;
  border: solid 1px rgb(27, 220, 27);
  border-radius: 21px;
  width: 120px;
  height: 38px;
  margin-bottom: 16px;
  text-decoration: none;
  color: rgb(29, 223, 29);
  padding-top: 6px;
  font-family: Roboto;
}

.list-inline a:hover {
  background: rgb(12, 181, 12);
  color: white;
  text-decoration: none;
}

.item-sp {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background: white;
  margin-bottom: 24px;
  border-radius: 8px;
}

.item-sp img {
  padding: 16px;
}

.item-sp p {
  color: #595959;
}

.item-sp h5 {
  font-weight: bold;
  font-size: 17px;
}

.pagination {
  display: flex;
  justify-content: center;
}

.page-link {
  padding: 8px;
  margin-right: 4px;
  background-color: #ddd;
  text-decoration: none;
  color: #333;
}

.page-link.active {
  background-color: #333;
  color: #fff;
}

.locj {
  display: none;
}







#footer {
  background: #262626;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  padding: 30px 0px;
  margin-top: 50px;

}

.footer-row {
  margin-top: 37px;
}

.footer-wor h3,
.footer-wor p {
  color: white;
  font-family: roboto;
}

.footer-wor h3 {
  font-size: 19px;
  margin-bottom: 33px;
  font-weight: bold;
}

.footer-wor p {
  font-size: 14px;
}

.sidebar {
  width: 100%;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  padding: 10px 0;
  color: white;
  font-size: 14px;
}

.sidebar li i {
  margin-right: 10px;
  color: #49D363;
}

.sidebar li:last-child {
  border-bottom: none;
}


.social-icons {
  list-style-type: none;
  display: flex;
  padding: 0;
}

.social-icons li {
  margin-right: 28px;
  color: white;
  font-size: 23px;
}

.social-icons li p {
  padding-top: 7px;
  font-size: 14px;

}

input {
  width: 100%;
  background: #FFFFFF;
  border-radius: 8px;
  height: 44px;
}

.input-with-icon {
  position: relative;
}

.input-with-icon input {
  padding-right: 40px;
  padding-left: 12px;
}

.input-with-icon button {
  position: absolute;
  color: white;
  top: 0;
  right: 3px;
  height: 85%;
  width: 37px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  background: linear-gradient(90deg, #49D363 0%, #2ED7AE 100%);
  border-radius: 8px;
  margin-top: 4px;
}



.footer-bottom {
  background: linear-gradient(90deg, #49D363 0%, #2ED7AE 100%);
  width: 100%;
  height: 31px;
  display: flex;
  justify-content: center;
}

.footer-bottom p {
  color: white;
  font-family: roboto;
  font-size: 15px;
  margin-top: 6px;
}


.product-submenu {
  display: none;
}

.close-icon {
  display: none;
}